<!--  character details -->
<div class="container mt-4">
  <!-- goBack -->
  <div class="row">
    <div class="col-md-8">
      <button type="button" class="btn btn-success mb-4" (click)="goBack()">
        <i class="bi bi-arrow-left"></i> Voltar
      </button>
    </div>
  </div>
  <!-- Content -->
  <div class="row">
    <div class="col-md-4">
      <img [src]="character.image" class="img-fluid" alt="Character Image" />
    </div>
    <div class="col-md-8">
      <h2>{{ character.name }}</h2>
      <p><strong>Status:</strong> {{ character.status }}</p>
      <p><strong>Espécies:</strong> {{ character.species }}</p>
      <p><strong>Tipo:</strong> {{ character.type }}</p>
      <p><strong>Gênero:</strong> {{ character.gender }}</p>
      <p><strong>Origem:</strong> {{ character.origin.name }}</p>
      <p><strong>Localização:</strong> {{ character.location.name }}</p>
    </div>
  </div>
</div>
