<div class="container mt-4">
  <app-header></app-header>
  <div>
    <app-sidebar></app-sidebar>
  </div>

  <!-- Error State -->
  @if (errorMessage) {
  <div class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
  }

  <!-- Content -->
  <h4 class="text-success pb-4">Lista de episódios</h4>
  <div #scrollContainer class="scroll-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      @for (episode of episodes; track episode.id) {
      <div class="col">
        <app-episode-card [episode]="episode"></app-episode-card>
      </div>
      }
    </div>

    @if (isLoading) {
    <div class="text-center my-4">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
    }

    <div class="mt-4 text-center text-muted">
      Exibindo {{ episodes.length }} episódios. <br />
      Página {{ page - 1 }} de {{ totalPages }}
    </div>
  </div>
</div>
