<!-- header.component.html -->
<nav class="navbar navbar-expand-lg bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/"
      ><strong>Rick & Morty Dashboard</strong></a
    >

    <div *ngIf="isListPage()" class="d-flex gap-2">
      <input
        type="search"
        class="form-control"
        placeholder="Rick or Morty..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch(searchTerm)"
      />
      <button
        class="btn btn-warning"
        type="button"
        (click)="onSearch(searchTerm)"
      >
        Search
      </button>
    </div>
  </div>
</nav>
