<div class="container">
  <div class="row">
    <!-- Sidebar -->

    <!-- Main Content -->
    <div class="col-md-10 p-4">
      <h4 class="text-success">User Profile</h4>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center gap-4 mb-4">
            <img
              [src]="
                userAvatar ||
                'https://rickandmortyapi.com/api/character/avatar/1.jpeg'
              "
              alt="User avatar"
              class="rounded-circle"
              style="width: 100px; height: 100px; object-fit: cover"
            />
            <h2 class="text-success mb-0">{{ username }}</h2>
          </div>

          <div class="card-text">
            <p>Bem-vindo à sua página de perfil!</p>
          </div>
        </div>
      </div>

      <div class="mt-4 h-100">
        <h4 class="text-success">Favorite Characters</h4>

        @if (favoriteCharacters.length > 0) {
        <div
          class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 character-list mt-2"
        >
          @for (character of favoriteCharacters; track character.id) {
          <div class="col">
            <app-character-card
              [character]="character"
              (favoriteRemoved)="onFavoriteRemoved($event)"
            ></app-character-card>
          </div>
          }
        </div>
        } @else {
        <div class="alert alert-info">
          Você ainda não tem nenhum personagem favorito.
        </div>
        }
      </div>
    </div>
  </div>
</div>
