<div class="login-wrapper" style="display: absolute">
  <video autoplay muted loop class="bg-video">
    <source src="/rick-and-morty.mp4" type="video/mp4" />
  </video>

  <div class="login-card glass">
    <h2 class="title">PORTAL LOGIN</h2>
    <p class="subtitle">Acesso Dimensional C-137</p>

    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="username">Identificação Dimensional</label>
        <input
          id="username"
          type="text"
          placeholder="Seu nome"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>

      <div class="form-group">
        <label for="avatar">Escolha seu avatar</label>
        <div class="avatar-options">
          <label class="avatar" *ngFor="let avatarId of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              name="avatar"
              [value]="apiUrl + '/character/avatar/' + avatarId + '.jpeg'"
              [(ngModel)]="selectedAvatar"
            />
            <img
              [src]="apiUrl + '/character/avatar/' + avatarId + '.jpeg'"
              alt="Avatar"
            />
          </label>
        </div>
      </div>

      <button
        class="portal-button"
        type="submit"
        [disabled]="!username || !selectedAvatar"
      >
        ATIVAR PORTAL
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
