.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-light-color);
    z-index: 1;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(4px);
}

.login-card {
  padding: 2.5rem;
  border-radius: 16px;
  max-width: 420px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  background: var(--overlay-dark-color);
  box-shadow: 0 0 25px var(--neon-blue-shadow);
  text-align: center;
  position: relative;
  z-index: 2;
}

.glass {
  backdrop-filter: blur(10px);
  border: 2px solid var(--neon-blue-border);
}

.title {
  font-family: "Orbitron", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--blue-super-soft-color);
}

.subtitle {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--blue-super-soft-color);
}

.form-group {
  margin-bottom: 1.2rem;
  text-align: left;

  label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background: var(--blue-dark-color);
    color: var(--light-color);
  }
}

.avatar-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0.75rem;
  margin-top: 0.5rem;

  .avatar {
    cursor: pointer;
    position: relative;

    input[type="radio"] {
      display: none;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: 0.3s;
    }

    input[type="radio"]:checked + img {
      border: 2px solid var(--blue-light-color);
      box-shadow: 0 0 8px var(--blue-light-color);
    }
  }
}

.portal-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    var(--blue-light-color),
    var(--blue-soft-color)
  );

  color: #000;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.error-message {
  margin-top: 1rem;
  color: var(--alert-color);
  font-weight: bold;
}
