.scrollable {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--light-color);
  padding-right: 24px;
  will-change: transform;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--light-color);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--success-color);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--success-color);
  }
}
