<!-- sidebar.component.html -->
<div class="sidebar d-flex flex-column bg-light shadow-sm">
  <!-- Seção do usuário no topo -->
  <div class="user-menu p-3 border-bottom profile-link">
    <a routerLink="/profile" class="text-success text-decoration-none">
      <div class="d-flex align-items-center">
        <img
          [src]="
            avatar || 'https://rickandmortyapi.com/api/character/avatar/1.jpeg'
          "
          alt="User avatar"
          class="rounded-circle me-2"
          style="width: 60px; height: 60px; object-fit: cover"
        />
        <div class="d-flex flex-column">
          <span class="fw-medium mb-1">{{ username }}</span>
          <div class="d-flex align-items-center gap-1">
            <span class="text-muted small">Ver perfil</span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Links de navegação no meio -->
  <nav class="nav flex-column flex-grow-1 p-2">
    <a
      class="nav-link text-success d-flex align-items-center gap-2 py-3"
      routerLink="/characters"
      routerLinkActive="active"
    >
      Personagens
    </a>
    <a
      class="nav-link text-success d-flex align-items-center gap-2 py-3"
      routerLink="/episodes"
      routerLinkActive="active"
    >
      Episódios
    </a>
  </nav>

  <!-- Botão de logout fixo na base -->
  <div class="border-top p-3 mt-auto">
    <button
      class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center gap-2"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</div>
