.sidebar {
  background-color: var(--background-color);
  height: 100%;
  padding: 0px;
  overflow-y: auto;
  min-width: 120px;
  .nav-link {
    transition: all 0.3s ease;
    border-radius: 4px;
    margin: 0.25rem 0;
    padding: 0.5rem 0.5rem;

    &.active {
      background-color: var(--success-color);
      color: var(--light-color) !important;
      font-weight: bold;
    }

    &:hover:not(.active) {
      background-color: var(--success-light-color);
    }
  }

  .user-menu {
    background-color: var(--background-color);
    padding: 1rem;
    border-top: 1px solid var(--light-color);

    img {
      border: 2px solid var(--warning-color);
      width: 60px;
      height: 60px;
    }

    span {
      font-weight: 500;
      font-size: 0.9rem;
    }

    button {
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--warning-color);
        color: var(--light-color) !important;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .user-menu {
      padding: 0.75rem;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .nav-link {
      padding: 0.5rem;
    }
  }
}
